	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:32
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../icon-fonts/Flaticon.eot");
  src: url("../icon-fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../icon-fonts/Flaticon.woff") format("woff"),
       url("../icon-fonts/Flaticon.ttf") format("truetype"),
       url("../icon-fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../icon-fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
    font-style: normal;
}
.flaticon-bag:before { content: "\f101"; }
.flaticon-down-arrow:before { content: "\f114"; }
.flaticon-heart:before { content: "\f121"; }
.flaticon-left-arrow-1:before { content: "\f129"; }
.flaticon-profile:before { content: "\f13b"; }
.flaticon-right-arrow:before { content: "\f142"; }
.flaticon-right-arrow-1:before { content: "\f143"; }
.flaticon-search:before { content: "\f146"; }
