@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Sign up / Login Form</title>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<link rel="stylesheet" href="./style.css">

</head>
<body>
	<!-- partial:index.partial.html -->
	<!DOCTYPE html>
	<html>
	<head>
		<title>Slide Navbar</title>
		<link rel="stylesheet" type="text/css" href="/Login/style.css">
		<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
	</head>
	<body>

		@if (TempData["Message"] != null)

		{
			<script>
				Swal.fire({
					title: "@TempData["Title"]",
					text: "@TempData["Message"]",
					icon: "@TempData["Icon"]"
				});
			</script>
		}

		<div class="main">
			<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form asp-action="Register" method="post">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txtName" placeholder="Full Name" required="">
					<input type="email" name="txtEmail" placeholder="Email" required="">
					<input type="password" name="txtPass" placeholder="Password" required="">
					<input type="password" name="txtCPass" placeholder="Confirm Password" required="">
					<button>Sign up</button>
				</form>
			</div>

			<div class="login">
				<form asp-action="LoginCheck" method="post">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="txtEmail" placeholder="Email" required="">
					<input type="password" name="txtPass" placeholder="Password" required="">
					<button>Login</button>
				</form>
			</div>
		</div>
	</body>
</html>
<!-- partial -->

</body>
</html>
